<section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
  <div class="container">
    <div
      class="grid grid-cols-1 gap-y-12 md:grid-cols-2 md:items-center md:gap-x-12 lg:gap-x-20"
    >
      <div>
        <h2
          class="mb-3 text-4xl leading-[1.2] font-bold md:mb-4 md:text-5xl lg:text-6xl"
        >
          {{ post.hero_title }}
        </h2>
        <p class="md:text-md">
          {{ post.hero_description }}
        </p>
      </div>
      <div>
        <img
          src="{{ post.thumbnail.full.url }}"
          class="w-full rounded-image object-cover"
          alt="{{ post.hero_image_alt }}"
        />
      </div>
    </div>
  </div>
</section>
